version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - my-app

  my-app:
    expose:
      - 5000
    env_file:
      - .env
    depends_on:
      - my-db
    build: .
    
  
  my-db:
    image: redis:alpine
    #volumes:
     # - ./db_data:/data